<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
        <title>Shoes | Brands</title>
    </head>
    <body>
        <div class="container">
            <h2>Brands</h2>
            {% if brands is not empty %}
                {% for brand in brands %}
                    <h4><a href="/brand/{{ brand.getId }}">{{ brand.getBrandName }}</a></h4>
                {% endfor %}
            {% else %}
                <h5>There are no brands yet!</h5>
            {% endif %}

            <h4>Add a brand:</h4>

            <form action="/brands" method="post">
                <label for="brand_name">Brand name:</label>
                <input type="text" name="brand_name">

                <button type="submit" class="btn btn-primary">Add Brand</button>
            </form>

            <form action="/brands/delete" method="post">
                <button type="submit" class="btn btn-danger">Delete All Brands</button>
            </form>

            <a href="/">Home</a>

        </div>
    </body>
</html>
